<form [formGroup]="form" (ngSubmit)="submitForm()" class="login-form">
  <h2>Admin Login</h2>

  <app-text-input-field
    label="Username"
    [control]="form.controls.username"
  ></app-text-input-field>

  <app-text-input-field
    label="Password"
    type="password"
    [control]="form.controls.password"
  ></app-text-input-field>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">Login</button>
  </div>

  <p *ngIf="loginError" aria-live="polite" class="login-error">
    The username and/or password provided are not correct
  </p>
</form>
