.login-form {
  max-width: 500px;
  padding: 2rem;
  margin: 0 auto;
}

.login-error {
  color: #f44336;
}

.mat-mdc-form-field {
  display: block;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
