.location-filter {
  margin-bottom: 2rem;
}

.card-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: flex-start;
}

h3 {
  font-weight: bold;
}

li {
  list-style: none;
}

.mat-mdc-card {
  width: 300px;
  height: 250px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1rem 0;
}
