<section>
  <h2>{{ pageTitle }}</h2>

  <div class="location-filter">
    <label for="location-filter">Filter by city:</label>

    <mat-chip-listbox id="location-filter" [formControl]="filterControl">
      <mat-chip-option *ngFor="let location of locations$ | async">{{
        location
      }}</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <ul class="card-container">
    <li *ngFor="let chorus of filteredChoruses$ | async">
      <app-chorus-card [chorus]="chorus"></app-chorus-card>
    </li>
  </ul>
</section>
