.location-filter {
  margin-bottom: 2rem;
}

.card-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: flex-start;
}

li {
  list-style: none;
}
