<section>
  <h2>{{ pageTitle }}</h2>

  <div class="location-filter">
    <label for="location-filter">Filter by city:</label>

    <mat-chip-listbox id="location-filter" [formControl]="filterControl">
      <mat-chip-option *ngFor="let location of locations$ | async">{{
        location
      }}</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <ul class="card-container">
    <li *ngFor="let chorus of filteredChoruses$ | async">
      <section class="card">
        <mat-card>
          <mat-card-header>
            <h3>
              {{ chorus.name }}
            </h3>
          </mat-card-header>

          <mat-card-content>
            {{ chorus.description }}

            <dl>
              <dt>Location:</dt>
              <dd>{{ chorus.location.city }}, {{ chorus.location.state }}</dd>

              <dt>Contact Email:</dt>
              <dd>
                <a [href]="'mailto:' + chorus.contactEmail">{{
                  chorus.contactEmail
                }}</a>
              </dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </section>
    </li>
  </ul>
</section>
